---
const { t,lang } = Astro.props;
---

<section
    id="projects"
    class="py-24 px-6 lg:px-20 max-w-screen-xl mx-auto space-y-32"
>
    <div class="text-center mb-16">
        <h1 class="text-4xl lg:text-6xl font-extrabold mb-6 leading-tight">
            {t.projects.title}
        </h1>
    </div>
    {
        t.projects.detail.map((project, index) => (
            <div class="opacity-0" data-project>
                <div
                    class={`flex flex-col md:flex-row items-center gap-10 ${index % 2 !== 0 ? "md:flex-row-reverse" : ""}`}
                >
                    <img
                        src={project.image}
                        alt={project.title}
                        class="w-full md:w-1/2 rounded-lg shadow-xl"
                        data-project-image
                    />
                    <div
                        class="md:w-1/2 text-center md:text-left"
                        data-project-text
                    >
                        <h2 class="text-2xl lg:text-4xl font-bold mb-4">
                            {project.title}
                        </h2>
                        <p class="text-gray-700 dark:text-gray-300 text-base lg:text-lg">
                            {project.shortDescription}
                        </p>

                        <a
                            href={`/${lang}/project/${project.slug}`}
                            class="mt-4 inline-block px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
                            onclick={`event.preventDefault(); navigateWithTransition('/${lang}/projects/${project.slug}')`}
                        >
                            Ver más
                        </a>

                        <div
                            class="mt-4 max-h-0 overflow-hidden transition-all duration-500 ease-in-out"
                            data-detail
                            aria-hidden="true"
                        >
                            <p class="text-gray-600 dark:text-gray-400">
                                {project.description}
                            </p>
                            {/* Aquí puedes agregar más info: links, imágenes, etc */}
                        </div>
                    </div>
                </div>
            </div>
        ))
    }
</section>
<script type="module" src="/js/scroll-animation.js"></script>
<script type="module" src="/js/showDetailProj-animation.js"></script>
